*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
}
.container{
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 24px;
    text-align: center;
    border-radius: 20px;
}
form{
    display: flex;
}

.city_name{
    width: 75%;
    padding: 11px;
    background-color: lightblue;
    border: none;
    outline: none;
    border-radius: 14px 0px 0px 14px;
    font-size: 17px;
}
.city_btn{
    width: 25%;
    border-radius: 0px 14px 14px 0px;
    border: none;
    background-color: blue;
    color: wheat;
    cursor: pointer;
    font-size: 17px;

}
.icon img{
    font-size: 30px;
}
.temparature{
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
}
.details{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.details p{
    padding: 20px;
    background-color: lightblue;
    border-radius: 10px;
    transition: all 1s;
}
.details p:hover{
    transform: translateY(-20px);
}


.error_descripton{
    margin-top: 20px;
    font-size: 22px;
    color: red;
}