*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height:100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 20px;
    width:500px;
    height: 300px;
    background-color:crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 20px;
}
#count{
    width: 16%;
    text-align: center;
    border-radius: 17px;
    border: none;
    outline:none;
}
#count:focus{
    outline: none;
    border: none;
}
#count::-webkit-inner-spin-button{
    display: none;
}
/* bu sayede input içindeki yukarı aşşağı tuşunu kaldırdık */

.currency_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.CurrencyFirst{
    padding: 5px;
    border-radius: 17px;
}
.CurrencyFirst:focus{
    outline: none;
}
.CurrencySecond:focus{
    outline: none;
}
.CurrencySecond{
    padding: 5px;
    border-radius: 17px;
}
